# if install failed, please change the pip source to 'https://mirror.baidu.com/pypi/simple'

# base deps
numpy==1.19.5
protobuf==3.18.3
flatbuffers==1.12

# utils
requests==2.31.0
psutil==5.9.0
ruamel.yaml==0.17.4
scipy==1.11.1
tqdm==4.64.0
bfloat16==1.1
opencv-python==4.5.5.64

# base
onnx==1.16.0
onnxoptimizer==0.2.7
onnxruntime==1.10.0
torch==1.13.1
torchvision==0.11.2
tensorflow==2.11.1